<%= form_with(model: workout, class: "contents") do |form| %>
  <% if workout.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
        <% workout.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.routines.any? %>
    <div class="field flex flex-col space-y-4">
      <%= form.label 'Select a routine or create a new one: ' %>
      <%= form.select :routine_id, options_from_collection_for_select(current_user.routines, :id, :name,
        class: 'w-full bg-surface hover:bg-surface-accent border border-surface-accent
                            rounded-full px-4 py-3 text-center cursor-pointer') %>
      <div>
        <%= link_to 'New Routine', new_routine_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  <% else %>

  <% end %>

  <%= form.submit class: "btn btn-primary mr-2" %>
<% end %>
