<%= form_with(model: workout, class: "contents") do |form| %>
  <% if workout.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
        <% workout.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.routines.any? %>
    <div class="flex flex-col space-y-4">
      <%= form.label 'Select a routine: ', class: 'text-lg font-medium' %>
      <div class="grid grid-cols-2 gap-x-6">
        <%= form.select :routine_id, options_from_collection_for_select(current_user.routines, :id, :name, selected: workout.routine_id),
                        { include_blank: false }, {
                        class: 'bg-surface hover:bg-surface-accent border border-surface-accent
                              rounded-lg px-4 py-3 text-center cursor-pointer' } %>
        <div>
          <span class="mr-6">Or</span>
          <%= link_to 'Create a new Routine', new_routine_path, class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  <% else %>

  <% end %>

  <%= form.submit 'Start Workout', class: "btn btn-primary mr-2" %>
<% end %>
