<%= form_with(model: routine, class: "contents") do |form| %>
  <% if routine.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(routine.errors.count, "error") %> prohibited this routine from being saved:</h2>

      <ul>
        <% routine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, class: "text-lg font-medium" %>
    <%= form.text_field :name, class: "form-text-area max-w-lg" %>
  </div>

  <div class="space-y-4">
    <!--# NOTE: this `id` will be the target of the turbo stream-->
    <%= tag.div id: :routine_exercises do %>
      <%= form.fields_for :routine_exercises do |f| %>
        <%= render 'routines/routine_exercise_fields', f: %>
      <% end %>
    <% end %>
    <%= link_to 'Add exercise', add_exercise_routines_path(routine_id: routine.id), data: { turbo_method: :post }, class: 'link link-blue' %>
  </div>


  <%= form.submit class: "btn btn-primary mr-2" %>
<% end %>
