<div class="container mx-auto space-y-8 max-w-xl mt-8 sm:mt-12">
  <h2 class="font-display font-bold text-3xl md:text-4xl lg:text-5xl text-based text-center">Edit Account</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="space-y-4">
      <%= render "devise/shared/error_messages", resource: resource %>

      <!--    <div class="field">-->
      <!--      <%#= f.label :email %><br/>-->
      <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <!--    </div>-->

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field space-y-2">
        <%= f.label 'New password' %>
        <i class="text-muted text-sm">(leave blank if you don't want to change it)</i><br/>
        <%= f.password_field :password, autocomplete: "new-password", class: "input-field" %>
        <% if @minimum_password_length %>
          <em class="space-y-1 text-sm text-muted"><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field space-y-2">
        <%= f.label :password_confirmation %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input-field' %>
      </div>

      <div class="field space-y-2">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/>
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'input-field' %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "btn btn-primary w-full" %>
      </div>
    </div>
  <% end %>

  <div class="text-right w-full">
    <%= button_to "Delete my account",
                  registration_path(resource_name),
                  data: { confirm: "Are you sure?", turbo: false },
                  method: :delete,
                  class: 'link link-muted' %>
  </div>

  <%= link_to "Back", :back, class: 'btn btn-secondary' %>
</div>
