<!DOCTYPE html>
<html>
  <head class="dark theme-dark scroll-smooth" lang="en">
    <title>Gym Buddy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'layouts/theme_toggle' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'icons/wolf.ico' %>
  </head>

  <body class="bg-base text-based">
    <%= render 'layouts/header/header' %>
    <%= render 'layouts/alerts' %>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
    <%= render 'layouts/footer/footer' %>
  </body>
</html>
